@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}
body {
    margin:0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.row *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
#navbar-title {
    font-size: xx-large;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
h1, h5, #navbar title{
    font-size: xx-large;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer{
    background-color: gray;
    color: black;
}
footer a{
    color: black
}
footer hr{
    height: 2dvh;
    margin: 0;
    color: black;
}
footer #p-3{
    margin-top: 0;
    padding-top: 0;
}
ul{
    list-style-type: none;
}
.max-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
main {
    color: white;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
}
img{
    width: auto;
}



